body,h1,h2,p,ul{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: justify;

}
.about-section h2{
    text-align: center;
}
.about-section p{
    text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header{
    background-color: #4a0505d6;
    backdrop-filter: blur(100PX);
    color: white;
    padding: 20px;
    backdrop-filter: blur(15px);
}
header h1 {
    margin: 0;
    text-align: center;
    text-shadow:2px 3px 7px black;
}
.about-section {
    max-width: 1500px;
    background-color: rgb(0, 0, 0);
    padding-left: 20px;
}

nav ul li{
    display: inline;
    margin-right:20px ;
}
nav ul li a{
    color: white;
    text-decoration: none;
   
}
.owner{
    background-color:#000;
    
}
.owner img{
    box-shadow: 5px 5px 9px #fefbfbcd;
    border-radius: 20px;
    flex-basis: 100%;
}
.owner img:hover{
    transform: scale(1.30);
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
   
}

.footer-col-3 h3,ul{
    text-align: center;
}

table { border-collapse: collapse; width: 100%;  }
td { border: 1px solid #dddddd; text-align: left; padding: 8px; }
tr:nth-child(even) { background-color: #0d0d0d; } 
th{ border: 1px solid #dddddd; text-align: left; padding: 10px;background-color:#890404 ;}
h1{ text-align: center; text-decoration: underline;}
.table{ padding: 0 60px; background-color: #000; font-family: Arial, sans-serif;}
.table h1 {
    padding-top: 50px;
    font-family: didot;
}



/*-------- footer--------*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 25px 20px;
}
.footer p{
	color: #8a8a8a;
    font-size: small;
   
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2,  .footer-col-3,  .footer-col-4, .footer-col-{
       min-width: 250px;
	   margin-bottom: 10px;
}
.footer-col-1 {
 flex-basis:12%;
}
.footer-col-1 p{
    text-align: center;
}
.footer-col-2 {
  flex: 12%;
  text-align: center;
  display: flex;
}
.footer-col-2 img{
padding-bottom: 20px;
}
.footer-col-2 p{
    padding-right: 150px;
    padding-top: 20px;
}
.footer-col-3 {
	width: 180px;
	margin-bottom: 40px;
    padding-left: 200px;
}
.footer-col-4{
    margin-top: 40px;
}
.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
  display: inline;
  padding: 20px;
}
ul{
	list-style-type: none;
}
.app-logo {
	margin-top: 20px;
}
.app-logo img{
	width: 140px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}